body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flex-container {
  width: 820px;
  margin: 30px auto;
  background: white;
  text-align: left;
  padding: 5em;
  border-radius: 10px;
}
.flex-content {
  display: flex;
}
.form-inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Billable Toggle Btn */
.toggle-switch {
  display: inline-block;
  background: rgb(90, 85, 85);
  border-radius: 16px;
  width: 40px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #6dd230;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 24px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
  color: #252631;
}
/* End of Billable toggle btn */
.header p {
  color: #687a8d;
  font-size: 12px;
  opacity: 1;
}
label {
  color: #687a8d;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 13px;
}
input,
select {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #b9c5d0;
  opacity: 1;
  width: 294px;
  height: 42px;
}
input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  margin: 0 10px 0 0;
  position: relative;
  top: 15px;
}
input[type="text"] {
  text-align: left;
  letter-spacing: 0px;
  color: #252631;
}
.pill {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 6px 12px;
  background: #eee;
  border-radius: 20px;
  font-size: 10px;
  color: #777;
  cursor: pointer;
}
.pill:nth-child(5n+1) {
  background: #00733B;
  color: #fff;
}
.pill:nth-child(5n+2) {
  background: #F5D930;
  color: #fff;
}
.pill:nth-child(5n+3) {
  background: #FFAB2B;
  color: #fff;
}
.pill:nth-child(5n+4) {
  background: #C12CDD;
  color: #fff
}
.pill:nth-child(5n+5) {
  background: #01BAFC;
  color: #fff
}
button {
  background: #0036cc;
  border: 0;
  padding: 8px 12px;
  margin-top: 20px;
  color: white;
  border-radius: 4px !important;
  cursor: pointer;

  display: flex;
  justify-content: center;
  /* width: 2.5rem;
  height: 2.5rem; */
  margin-right: 27.34rem;
}
button {
  text-align: center;
}
.form-inline label {
  margin: 5px 33px 5px 0;
}

.form-inline input,
textarea {
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  outline: none;
}
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
}
#extend-date {
  padding: 0 36%;
  height: 20px;
}
#description {
  width: 46.76em;
  height: 6em;
  margin-right: 1em;
  margin-top: 0.5em;
  resize: none;
}


::placeholder {
  color: #252631 !important;
  font-size: 13px;
  font-weight: 600;
  font-family: system-ui;
}

.btnWrapper {
  display: flex;
  display: inline-flex;
}

.user-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.user-btn:last-child {
  margin-right: 0;
}
.cancel-btn button {
  background: rgb(223, 214, 214);
}
.task-bottom p {
font-size: 14px;
color: #687A8D;
opacity: 1;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.block {
  width: 100%;
}
.icons {
  display: flex;
  padding: 20px
}
.block-circle {
  padding: 0 20px;
  cursor: pointer;
}

.block-circle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #fff;
}
.block-circle:hover {
  background: #6DD230;
  color: white;
}
.block-circle:active {
  background: #6DD230;
  color: white;
}
.block-circle:target {
  background: #6DD230;
  color: white;
}
.pi{
  color: #687A8D;
  padding: 9px;
}
.task-item {
  text-align: left;
  letter-spacing: 0px;
  color: #0036CC;
  opacity: 1;

}
.pill {
  position: relative;
  bottom: 4em;
}
.menu-items {
  position: relative;
  bottom: 1.76em;
}
.form-container {
  position: relative;
  bottom: 1em;
}
.some-header {
  position: relative;
  bottom: 2.75em;
  font: normal normal normal 12px/14px Rubik;
  letter-spacing: 0px;
  color: #687A8D;
  opacity: 1;
  
}